.carousel-item{
    max-height: 600px;
}

.d-block {
    object-fit: cover;
    opacity: 0.6;
}

.input-group {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-right: 30px;
    max-width: fit-content;

}

