<div class="mt-0">
    <app-carousal></app-carousal>
    <br><br><br>
</div>

<div class="container-fluid mt-3">
    
    <h4><strong>Browse Movies</strong> </h4>
</div>

<div class="container-fluid d-flex flex-wrap mt-2 mx-3">
    <div class="card mt-4 mx-3"  routerLink='details' style="width: 14rem;" *ngFor="let movie of movieArr" (click)="setMovieId(movie.id)">
                
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="movie.original_title">
                <div class="card-body bg-dark text-light">
                    <p class="card-title ">{{movie.original_title}}</p>
                    <!-- <p class="card-text">{{movie.release_date}}</p> -->
        </div>
    </div>
</div>
<!-- </div> -->

<br>

<div>
   <!-- <app-movielist></app-movielist> -->
   <button class="glow-on-hover float-end paginationLimit < list.length" (click)="showMoreItems()"> 
    Show More
</button>
     <button class="glow-on-hover float-end paginationLimit > 3 list.length" (click)="showLessItems()"> 
    Show Less
</button>
</div>

















     <!-- <ul class="list"> -->







   <!-- <div>
        <h3> {{title}}</h3>
  <body>
    <a href="#" class="button">
       <div class="qube">
        <ul class="list">
          <li *ngFor="let l of moviesListItems | slice : showMore:movievsListItems">
            {{l.}
        </li>
    </ul>
         <div class="back">view less!</div>
            <button *ngIf ="moviesListItems < list.length" (click)="showMoreItems()">
          <div class="front">view more!</div>
          <button *ngIf ="moviesListItems > 5" (click)="showLessItems()"></button>
       </div>
    </a>
 </body>

</div>




 <div> -->







        



 
<br><br>


        
   
    
       
    