
<div>
  
    <ul class="list">
     <li *ngFor="let l of list | slice : startPage:paginationLimit">
       {{l.name}} ({{l.age}})
     </li>
    </ul>

    <button class="glow-on-hover paginationLimit < list.length" (click)="showMoreItems()"> 
        Show More
    </button>
         <button class="glow-on-hover paginationLimit > 3 list.length" (click)="showLessItems()"> 
        Show Less
    </button>
     </div>
 <body>

<!-- <div>
<nav arial-label=" Page navigation example">
    <ul class="pagenation">
        <li class="page-item">
            <a class="page-link" href="#" arial-label="previous">
                 <span arial-hidden="true"&laquo></span>

            </a>
        </li>


 <li class="page-item"></li> -->








    <!-- </ul>








    
</nav>


</div> -->
    
   
   
  




   
   