<app-nav></app-nav>


<br><br><br>

  <div class="container mx-auto mt-5" style="height: 68vh;">
    <div class="title">Registration</div>
    <div class="content">
      <form [formGroup]="myForm" (ngSubmit)="submit()" ngNativeValidate>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input 
            type="text" 
            id="fullname"
            formControlName="fullName"
            placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input 
            type="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input 
            type="password"
            id="password" 
            formControlName="password"
            placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input 
            type="password"
            id="password" 
            formControlName="password"
            placeholder="Enter your password" required>
            <span class="details">{{message}}</span>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register" [disabled]="!fieldsWithData()" (click)="submit()">
          <input type="reset" value="Reset">
        </div>
      </form> 
    </div>
    <br>
    <a routerLink='/login'><span class="details">Already Registered? Click here to log in</span></a>
  </div>
  
